.vscode/**
.vscode-test/**
src/**
.gitignore
package-lock.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
test-tf-repo
eslint.config.mjs
.vscode
out/
tsconfig.json
esbuild.js
TODO.md
node_modules
